<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
      
	<meta http-equiv="Content-Security-Policy" content="
            default-src * data: gap: blob: content: file: https: https://*.crhoy.com http:  https://ssl.gstatic.com https://www.crhoy.com 'unsafe-inline' 'unsafe-eval'; 
            style-src * data: blob: 'unsafe-inline'; 
            script-src * 'unsafe-inline' 'unsafe-eval';
            connect-src * 'unsafe-inline';
            img-src * data: blob: 'unsafe-inline';
            frame-src * http://* http://*;
            font-src * data: blob: 'unsafe-inline';">
      <!--<meta http-equiv="Content-Security-Policy" content="default-src * data: gap: content: https://ssl.gstatic.com; style-src * 'unsafe-inline'; script-src * 'unsafe-inline' 'unsafe-eval'">-->

	<link type="text/css" rel="stylesheet" href="libs/onsenUI/css/onsenui.min.css">
	<link type="text/css" rel="stylesheet" href="libs/onsenUI/css/onsen-css-components.min.css">
	<!--GLOBALES-->
	<link type="text/css" rel="stylesheet" href="css/core.css">
	<link type="text/css" rel="stylesheet" href="css/fonts.css">
	<link type="text/css" rel="stylesheet" href="css/colors.css">
	<!--PAGINAS-->
	<link type="text/css" rel="stylesheet" href="css/pages/home.css">
	<link type="text/css" rel="stylesheet" href="css/pages/category.css">
	<link type="text/css" rel="stylesheet" href="css/pages/especial.css">
	<link type="text/css" rel="stylesheet" href="css/pages/ultimas.css">
	<link type="text/css" rel="stylesheet" href="css/pages/single.css">
	<!--COMPONENTS CSS-->
	<link type="text/css" rel="stylesheet" href="css/components/accordion.component.css">
	<link type="text/css" rel="stylesheet" href="css/components/v-title.component.css">
</head>
<body>
	<template id="home">
		<v-ons-page>
			<v-ons-toolbar>
				<div class="left">
					<v-ons-toolbar-button onclick="_splitter.toggle();" class="color-nacionales">
						<v-ons-icon icon="ion-navicon, material:md-menu"></v-ons-icon>
					</v-ons-toolbar-button>
				</div>
				<div class="center">
					<img class="logo-toolbar" src="img/crhoy-logo.png" alt="CRHoy.com">
				</div>
			</v-ons-toolbar>

			<v-ons-pull-hook :action="getNews" @changestate="state = $event.state">
				<span v-show="state === 'initial'"> Hale para refrescar </span>
				<span v-show="state === 'preaction'"> Soltar </span>
				<span v-show="state === 'action'"> <ons-icon icon="fa-cog" spin></ons-icon> </span>
			</v-ons-pull-hook>
			<!--HALAR PARA REFRESCAR-->

			<ons-row>
				<ons-col class="text-center" width="100%" v-show="loading">
					<v-ons-icon size="2em" spin icon="fa-cog"></v-ons-icon>
				</ons-col>
			</ons-row>
			<!--LOADING-->

			<ons-row v-if="noticias.importante" @click="$router.push('/noticia/' + noticias.importante.id + '/null')">
				<ons-col>
					<img :src="noticias.importante.img | icdn([400,300,95,95])" :alt="noticias.importante.title" style="width: 100%">
					<div class="title">
						<v-title tag="h1" :color="noticias.importante.categories[0][1]" :metadata="noticias.importante.metadata" color-text="negro">{{ noticias.importante.title | html }}</v-title>
					</div>
				</ons-col>
			</ons-row>
			<!--IMPORTANTE-->

			<ons-row v-show="noticias.transmision.post_content !== ''">
				<ons-col>
					<div v-html="noticias.transmision.post_content" style="width: 100%;"></div>
				</ons-col>
			</ons-row>
			<!--TRANSMISION-->

			<ons-row>
				<ons-col>
					<v-ons-carousel swipeable auto-scroll overscrollable :index.sync="carouselIndexSlider" auto-scroll-ratio="0.5">
						<v-ons-carousel-item v-for="nota in noticias.slider">
							<v-ons-card class="noticia-slider" @click="$router.push('/noticia/' + nota.id + '/null')">
								<img :src="nota.img | icdn([315,260,95,95])" :alt="nota.title" style="width: 100%">
								<div class="title">
									<v-title tag="h2" :color="nota.categories[0][1]" :metadata="nota.metadata" color-text="negro">{{ nota.title | html }}</v-title>
								</div>
								<div class="content">
									<p class="color-negro">
										{{ nota.excerpt | html }}
									</p>
									<p class="color-negro no-margin-bottom"><small>{{ nota.date }}{{ nota.hour }}</small></p>
								</div>
							</v-ons-card>
						</v-ons-carousel-item>
					</v-ons-carousel>
					<div class="text-center margin-bottom-1em">
						<span :index="dotIndex - 1" v-for="dotIndex in Object.keys(noticias.slider).length" :key="dotIndex" style="cursor: pointer"
						 @click="carouselIndexSlider = dotIndex - 1" class="color-negro">
							{{ carouselIndexSlider === dotIndex - 1 ? '\u25CF' : '\u25CB' }}
						</span>
					</div>
				</ons-col>
			</ons-row>
			<!--SLIDER-->

			<ons-row>
				<ons-col>
					<v-ons-list>
						<v-ons-list-item tappable v-for="nota in noticias.visualB" class="noticia-visual-b" @click="$router.push('/noticia/' + nota.id + '/null')">
							<div class="left">
								<img class="list-item__thumbnail" :src="nota.img | icdn([100,100,20,95])">
							</div>
							<div class="center">
								<span class="list-item__title">
								      <v-title tag="h3" :color="nota.categories[0][1]" :metadata="nota.metadata" color-text="negro">{{ nota.title | html }}</v-title>
                                                      <p  class="color-negro no-margin"><small>{{ nota.date }}{{ nota.hour }}</small></p>
							      </span>
							</div>
						</v-ons-list-item>
					</v-ons-list>
				</ons-col>
			</ons-row>
			<!--VISUAL B-->

			<ons-row>
				<ons-col width="100">
					<v-ons-card class="noticia-visual-a" v-if="noticias.visualA.length > 0" @click="$router.push('/noticia/' + noticias.visualA[0].id + '/null')">
						<img :src="noticias.visualA[0].img | icdn([315,260,95,95])" :alt="noticias.visualA[0].title" style="width: 100%">
						<div class="title">
							<v-title tag="h2" :color="noticias.visualA[0].categories[0][1]" :metadata="noticias.visualA[0].metadata" color-text="negro">{{ noticias.visualA[0].title | html }}</v-title>
						</div>
						<div class="content">
							<p>
								{{ noticias.visualA[0].excerpt | html }}
							</p>
							<p class="color-negro no-margin-bottom"><small>{{ noticias.visualA[0].date }}{{ noticias.visualA[0].hour }}</small></p>
						</div>
					</v-ons-card>
				</ons-col>
				<ons-col width="50" v-for="nota in noticias.visualA.slice(1)">
					<v-ons-card class="noticia-visual-a-mediana" @click="$router.push('/noticia/' + nota.id + '/null')">
						<img :src="nota.img | icdn([150,100,95,95])" :alt="nota.title" style="width: 100%">
						<div class="title">
							<v-title tag="h3" :color="nota.categories[0][1]" :metadata="nota.metadata" color-text="negro">{{ nota.title | html }}</v-title>
						</div>
						<div class="content no-margin">
							<p class="color-negro no-margin"><small>{{ nota.date }}{{ nota.hour }}</small></p>
						</div>
					</v-ons-card>
				</ons-col>
			</ons-row>
			<!--VISUAL A-->

			<ons-row>
				<ons-col>
					<v-ons-list>
						<v-ons-list-item tappable v-for="nota in noticias.visualC" @click="$router.push('/noticia/' + nota.id + '/null')">
							<v-title tag="h3" :color="nota.categories[0][1]" :metadata="nota.metadata" color-text="negro">{{ nota.title | html }}</v-title>
							<p class="color-negro no-margin"><small>{{ nota.date }}{{ nota.hour }}</small></p>
						</v-ons-list-item>
					</v-ons-list>
				</ons-col>
			</ons-row>
			<!--VISUAL C-->

			<ons-row>
				<ons-col>
					<h2 class="title-home" v-show="noticias.enterese.length > 0">Entérese</h3>

						<v-ons-carousel swipeable auto-scroll overscrollable :index.sync="carouselIndexEnterese">
							<v-ons-carousel-item v-for="nota in noticias.enterese">
								<v-ons-card class="noticia-slider" @click="$router.push('/noticia/' + nota.id + '/null')">
									<img :src="nota.img | icdn([315,240,95,95])" :alt="nota.title" style="width: 100%">
									<div class="title">
										<v-title tag="h3" :color="'negro'" :metadata="nota.metadata" color-text="negro">{{ nota.title | html }}</v-title>
									</div>
									<div class="content">
										<p class="color-negro">
											{{ nota.excerpt | html }}
										</p>
										<p class="color-negro no-margin-bottom"><small>{{ nota.date }}{{ nota.hour }}</small></p>
									</div>
								</v-ons-card>
							</v-ons-carousel-item>
						</v-ons-carousel>
						<div class="text-center margin-bottom-1em" v-show="noticias.enterese.length > 1">
							<span :index="dotIndex - 1" v-for="dotIndex in Object.keys(noticias.enterese).length" :key="dotIndex" style="cursor: pointer"
							 @click="carouselIndexEnterese = dotIndex - 1" class="color-negro">
                                                {{ carouselIndexEnterese === dotIndex - 1 ? '\u25CF' : '\u25CB' }}
                                          </span>
						</div>
				</ons-col>
			</ons-row>
			<!--ENTERESE-->

			<ons-row v-show="noticias.temporal.length > 0">
				<ons-col width="100" v-show="noticias.tituloTemporal">
					<h2 :class="'title-home color-' + noticias.colorTituloTemporal">{{ noticias.tituloTemporal }}</h2>
				</ons-col>
				<ons-col width="50" v-for="nota in noticias.temporal">
					<v-ons-card class="noticia-temporal" @click="$router.push('/noticia/' + nota.id + '/null')">
						<img :src="nota.img | icdn([315,240,95,95])" :alt="nota.title" style="width: 100%">
						<div class="title">
							<v-title tag="h3" :color="nota.categories[0][1]" :metadata="nota.metadata" color-text="negro">{{ nota.title | html }}</v-title>
							<p class="color-negro no-margin-bottom"><small>{{ nota.date }}{{ nota.hour }}</small></p>
						</div>
					</v-ons-card>
				</ons-col>
			</ons-row>
			<!--NOTICIAS TEMPORALES-->

			<ons-row>
				<ons-col width="100" class="fondo-diva">
					<h2 class="title-home color-blanco">La diva del día</h2>
					<v-ons-card class="noticia-diva" v-if="noticias.diva" @click="$router.push('/noticia/' + noticias.diva.id + '/null')">
						<img :src="noticias.diva.img | icdn([315,240,95,95])" :alt="noticias.diva.title" style="width: 100%">
						<div class="title">
							<v-title tag="h3" :color="'entretenimiento'" :metadata="noticias.diva.metadata" color-text="negro">{{ noticias.diva.title | html }}</v-title>
						</div>
					</v-ons-card>
				</ons-col>
				<!--DIVA-->

				<ons-col width="100" class="fondo-frase-dia">
					<h2 class="title-home color-blanco" v-if="noticias.frase_del_dia">{{ noticias.frase_del_dia.title }}</h2>
					<v-ons-list class="fondo-frase-dia">
						<v-ons-list-item tappable class="noticia-frase-del-dia" v-if="noticias.frase_del_dia" @click="$router.push('/noticia/' + noticias.frase_del_dia.id + '/null')">
							<div class="left">
								<img class="list-item__thumbnail" :src="noticias.frase_del_dia.img | icdn([100,100,20,95])">
							</div>
							<div class="center">
								<span class="list-item__title">
									<v-title tag="p" :color="'frase-del-dia'" :metadata="noticias.frase_del_dia.metadata" color-text="blanco">{{ noticias.frase_del_dia.excerpt | html }}</v-title>
								</span>
							</div>
						</v-ons-list-item>
					</v-ons-list>
				</ons-col>
				<!--FRASE DEL DIA-->

				<ons-col width="100" class="fondo-humor">
					<h2 class="title-home color-blanco">Humor</h2>
					<v-ons-card class="noticia-humor" v-if="noticias.humor" @click="$router.push('/noticia/' + noticias.humor.id + '/null')">
						<img :src="noticias.humor.img | icdn([315,240,95,95])" :alt="noticias.humor.title" style="width: 100%">
						<div class="title">
							<v-title tag="h3" :color="'humor'" :metadata="noticias.humor.metadata" color-text="negro">{{ noticias.humor.title | html }}</v-title>
						</div>
					</v-ons-card>
				</ons-col>
				<!--HUMOR-->

				<ons-col width="100" class="fondo-foto-del-dia">
					<h2 class="title-home color-blanco">La foto del día</h2>
					<v-ons-card class="noticia-foto-del-dia" v-if="noticias.foto_del_dia" @click="$router.push('/noticia/' + noticias.foto_del_dia.id + '/null')">
						<img :src="noticias.foto_del_dia.img | icdn([315,240,95,95])" :alt="noticias.foto_del_dia.title" style="width: 100%">
						<div class="title">
							<v-title tag="h3" :color="'foto-del-dia'" :metadata="noticias.foto_del_dia.metadata" color-text="negro">{{ noticias.foto_del_dia.title | html }}</v-title>
						</div>
					</v-ons-card>
				</ons-col>
				<!--FOTO DEL DIA-->
			</ons-row>
			<!--DIVA, FRASE DEL DIA, HUMOR FOTO DEL DIA-->

			<ons-row class="fondo-negro">
				<ons-col>
					<h2 class="title-home color-blanco">Videos</h2>
					<v-ons-carousel swipeable auto-scroll overscrollable :index.sync="carouselIndexMultimedia">
						<v-ons-carousel-item v-for="nota in noticias.multimedia">
							<v-ons-card class="noticia-multimedia" @click="$router.push('/noticia/' + nota.id + '/null')">
								<img :src="nota.img | icdn([315,240,95,95])" :alt="nota.title" style="width: 100%">
								<div class="title">
									<v-title tag="h3" :color="'negro'" :metadata="nota.metadata" color-text="negro">{{ nota.title | html }}</v-title>
								</div>
							</v-ons-card>
						</v-ons-carousel-item>
					</v-ons-carousel>
					<div class="text-center margin-bottom-1em" v-if="noticias.multimedia.length > 1">
						<span :index="dotIndex - 1" v-for="dotIndex in Object.keys(noticias.multimedia).length" :key="dotIndex" style="cursor: pointer"
						 @click="carouselIndexMultimedia = dotIndex - 1" class="color-blanco">
							{{ carouselIndexMultimedia === dotIndex - 1 ? '\u25CF' : '\u25CB' }}
						</span>
					</div>
				</ons-col>
			</ons-row>
			<!--MULTIMEDIA-->

			<ons-row>
				<ons-col>
					<h2 class="title-home">Más noticias</h2>

					<accordion color="deportes">
						<span slot="title">Deportes</span>
						<div slot="content">
							<v-ons-card class="noticia-secciones" v-for="nota in noticias.deportes" @click="$router.push('/noticia/' + nota.id + '/null')">
								<img :src="nota.img | icdn([260,200,95,95])" :alt="nota.title" style="width: 100%">
								<div class="title">
									<v-title tag="h4" :color="'deportes'" :metadata="nota.metadata" color-text="negro">{{ nota.title | html }}</v-title>
								</div>
								<div class="content no-margin">
									<p class="color-negro no-margin"><small>{{ nota.date }}{{ nota.hour }}</small></p>
								</div>
							</v-ons-card>
						</div>
					</accordion>

					<accordion color="entretenimiento">
						<span slot="title">Entretenimiento</span>
						<div slot="content">
							<v-ons-card class="noticia-secciones" v-for="nota in noticias.entretenimiento" @click="$router.push('/noticia/' + nota.id + '/null')">
								<img :src="nota.img | icdn([260,200,95,95])" :alt="nota.title" style="width: 100%">
								<div class="title">
									<v-title tag="h4" :color="'entretenimiento'" :metadata="nota.metadata" color-text="negro">{{ nota.title | html }}</v-title>
								</div>
								<div class="content no-margin">
									<p class="color-negro no-margin"><small>{{ nota.date }}{{ nota.hour }}</small></p>
								</div>
							</v-ons-card>
						</div>
					</accordion>

					<accordion color="economia">
						<span slot="title">Economía</span>
						<div slot="content">
							<v-ons-card class="noticia-secciones" v-for="nota in noticias.economia" @click="$router.push('/noticia/' + nota.id + '/null')">
								<img :src="nota.img | icdn([260,200,95,95])" :alt="nota.title" style="width: 100%">
								<div class="title">
									<v-title tag="h4" :color="'economia'" :metadata="nota.metadata" color-text="negro">{{ nota.title | html }}</v-title>
								</div>
								<div class="content no-margin">
									<p class="color-negro no-margin"><small>{{ nota.date }}{{ nota.hour }}</small></p>
								</div>
							</v-ons-card>
						</div>
					</accordion>

					<accordion color="mundo">
						<span slot="title">Mundo</span>
						<div slot="content">
							<v-ons-card class="noticia-secciones" v-for="nota in noticias.mundo" @click="$router.push('/noticia/' + nota.id + '/null')">
								<img :src="nota.img | icdn([260,200,95,95])" :alt="nota.title" style="width: 100%">
								<div class="title">
									<v-title tag="h4" :color="'mundo'" :metadata="nota.metadata" color-text="negro">{{ nota.title | html }}</v-title>
								</div>
								<div class="content no-margin">
									<p class="color-negro no-margin"><small>{{ nota.date }}{{ nota.hour }}</small></p>
								</div>
							</v-ons-card>
						</div>
					</accordion>

					<accordion color="tecnologia">
						<span slot="title">Tecnología</span>
						<div slot="content">
							<v-ons-card class="noticia-secciones" v-for="nota in noticias.tecnologia" @click="$router.push('/noticia/' + nota.id + '/null')">
								<img :src="nota.img | icdn([260,200,95,95])" :alt="nota.title" style="width: 100%">
								<div class="title">
									<v-title tag="h4" :color="'tecnologia'" :metadata="nota.metadata" color-text="negro">{{ nota.title | html }}</v-title>
								</div>
								<div class="content no-margin">
									<p class="color-negro no-margin"><small>{{ nota.date }}{{ nota.hour }}</small></p>
								</div>
							</v-ons-card>
						</div>
					</accordion>

					<accordion color="opinion">
						<span slot="title">Opinión</span>
						<div slot="content">
							<v-ons-card class="noticia-secciones" v-for="nota in noticias.opinion" @click="$router.push('/noticia/' + nota.id + '/null')">
								<img :src="nota.img | icdn([260,200,95,95])" :alt="nota.title" style="width: 100%">
								<div class="title">
									<v-title tag="h4" :color="'opinion'" :metadata="nota.metadata" color-text="negro">{{ nota.title | html }}</v-title>
								</div>
								<div class="content no-margin">
									<p class="color-negro no-margin"><small>{{ nota.date }}{{ nota.hour }}</small></p>
								</div>
							</v-ons-card>
						</div>
					</accordion>
				</ons-col>
			</ons-row>
			<!--SECCIONES-->
		</v-ons-page>
	</template>

	<template id="ultimas">
		<v-ons-page>
			<v-ons-toolbar>
				<div class="left">
					<v-ons-toolbar-button onclick="_splitter.toggle();" class="color-nacionales">
						<v-ons-icon icon="ion-navicon, material:md-menu"></v-ons-icon>
					</v-ons-toolbar-button>
				</div>
				<div class="center">Últimas noticias</div>
			</v-ons-toolbar>
			<v-ios-back-button></v-ios-back-button>

			<ons-row>
				<ons-col width="100">
					<vuejs-datepicker placeholder="dd/mm/yyyy" calendar-button-icon="fa fa-calendar" calendar-button="true" id="calendarInput"
					 v-model="datePickerConfig.model" :format="datePickerConfig.format" :language="datePickerConfig.langConfig" wrapper-class="calendar-ultimas"
					 :disabled-dates="datePickerConfig.disabledDates" :highlighted="datePickerConfig.highlighted" @input="selectedDate"></vuejs-datepicker>
				</ons-col>
				<ons-col width="100">
					<v-ons-card class="noticia-ultimas" v-for="(nota, i) in noticias" :data-index="i" @click="$router.push('/noticia/' + nota.id + '/null')">
						<img v-if="nota.render" :src="nota.img | icdn([315,200,95,95])" :alt="nota.title" style="width: 100%">
						<div class="title">
							<v-title tag="h3" :color="nota.categories[0][1]" :metadata="nota.metadata" color-text="negro">{{ nota.title | html }}</v-title>
						</div>
						<div class="content">
							<p>{{ nota.hour.trim() }}</p>
						</div>
					</v-ons-card>
				</ons-col>
			</ons-row>
			<ons-row>
				<ons-col class="text-center" width="100%" v-show="loading">
					<v-ons-icon size="2em" spin icon="fa-cog"></v-ons-icon>
				</ons-col>
			</ons-row>
			<!--LOADING-->
		</v-ons-page>
	</template>

	<template id="masLeidas">
		<v-ons-page>
			<v-ons-toolbar>
				<div class="left">
					<v-ons-toolbar-button onclick="_splitter.toggle();" class="color-nacionales">
						<v-ons-icon icon="ion-navicon, material:md-menu"></v-ons-icon>
					</v-ons-toolbar-button>
				</div>
				<div class="center">Más leídas</div>
			</v-ons-toolbar>

			<v-ons-pull-hook :action="getNews" @changestate="state = $event.state">
				<span v-show="state === 'initial'"> Hale para refrescar </span>
				<span v-show="state === 'preaction'"> Soltar </span>
				<span v-show="state === 'action'"> <ons-icon icon="fa-cog" spin></ons-icon> </span>
			</v-ons-pull-hook>

			<v-ios-back-button></v-ios-back-button>
			<ons-row>
				<ons-col width="100">
					<v-ons-card class="noticia-ultimas" v-for="nota in noticias" @click="$router.push('/noticia/' + nota.id + '/null')">
						<img :src="nota.img | icdn([315,200,95,95])" :alt="nota.title" style="width: 100%">
						<div class="title">
							<v-title tag="h3" :color="nota.categories[0][1]" :metadata="nota.metadata" color-text="negro">{{ nota.title | html }}</v-title>
						</div>
					</v-ons-card>
				</ons-col>
			</ons-row>
		</v-ons-page>
	</template>

	<template id="category">
		<v-ons-page>
			<v-ons-toolbar :class="'fondo-' +  $route.params.cat_color">
				<div class="left">
					<v-ons-toolbar-button onclick="_splitter.toggle();" class="color-blanco">
						<v-ons-icon icon="ion-navicon, material:md-menu"></v-ons-icon>
					</v-ons-toolbar-button>
				</div>
				<div class="center color-blanco">{{ $route.params.cat_title }}</div>
			</v-ons-toolbar>

			<v-ons-pull-hook :action="getNews" @changestate="state = $event.state">
				<span v-show="state === 'initial'"> Hale para refrescar </span>
				<span v-show="state === 'preaction'"> Soltar </span>
				<span v-show="state === 'action'"> <ons-icon icon="fa-cog" spin></ons-icon> </span>
			</v-ons-pull-hook>

			<v-ios-back-button></v-ios-back-button>
			<ons-row>
				<ons-col width="100">
					<p class="text-center">
						<span :class="'notification subCategory color-blanco fondo-' + $route.params.cat_color" v-for="subCategory in cat_subCategories"
						 @click="navToSubCategory(subCategory)">{{ subCategory.title }}</span>
					</p>
				</ons-col>
			</ons-row>
			<!--SUB CATEGORIAS-->

			<ons-row>
				<ons-col width="100">
					<v-ons-card class="noticia-seccion-grande" v-if="noticias.length > 0" @click="$router.push('/noticia/' + noticias[0].id + '/null')">
						<img :src="noticias[0].img | icdn([315,260,95,95])" :alt="noticias[0].title" style="width: 100%">
						<div class="title">
							<v-title tag="h2" :color="$route.params.cat_color" :metadata="noticias[0].metadata" color-text="negro">{{ noticias[0].title | html }}</v-title>
						</div>
						<div class="content">
							<p>
								{{ noticias[0].excerpt | html }}
							</p>
							<p class="color-negro no-margin"><small>{{ noticias[0].date }}{{ noticias[0].hour }}</small></p>
						</div>
					</v-ons-card>
				</ons-col>
			</ons-row>
			<ons-row>
				<ons-col width="50" v-for="nota in noticias.slice(1)">
					<v-ons-card class="noticia-seccion-mediana" @click="$router.push('/noticia/' + nota.id + '/null')">
						<img :src="nota.img | icdn([150,100,95,95])" :alt="nota.title" style="width: 100%">
						<div class="title">
							<v-title tag="h3" :color="$route.params.cat_color" :metadata="nota.metadata" color-text="negro">{{ nota.title | html }}</v-title>
						</div>
						<div class="content no-margin">
							<p class="color-negro no-margin"><small>{{ nota.date }}{{ nota.hour }}</small></p>
						</div>
					</v-ons-card>
				</ons-col>
			</ons-row>

			<ons-row>
				<ons-col class="text-center" width="100%" v-show="loading">
					<v-ons-icon :class="'color-' + $route.params.cat_color" size="2em" spin icon="fa-cog"></v-ons-icon>
				</ons-col>
				<ons-col class="text-center" width="100%">
					<v-ons-button modifier="large" @click="viewMoreNews()" :class="'ver-mas-boton fondo-' + $route.params.cat_color">Ver más noticias</v-ons-button>
				</ons-col>
			</ons-row>
		</v-ons-page>
	</template>

	<template id="especiales">
		<v-ons-page>
			<v-ons-toolbar>
				<div class="left">
					<v-ons-toolbar-button onclick="_splitter.toggle();" class="color-nacionales">
						<v-ons-icon icon="ion-navicon, material:md-menu"></v-ons-icon>
					</v-ons-toolbar-button>
				</div>
				<div class="center">Especiales</div>
			</v-ons-toolbar>
			<v-ios-back-button></v-ios-back-button>

			<ons-row>
				<ons-col width="100">
					<v-ons-card class="noticia-especiales" v-for="especial in especiales" @click="navToSpecial(especial)">
						<img :src="especial.especial_img" :alt="especial.especial_name" style="width: 100%">
						<div class="title no-margin">
                                          {{ especial.especial_name }}
                                          <button class="button button--light" @click.prevent.stop="share(especial)">
                                                <ons-icon class="ons-icon fa-share-alt fa" icon="fa-share-alt"></ons-icon>
                                          </button>
                                    </div>
						<div class="content">
							<p>{{ especial.especial_description }}</p>
						</div>
					</v-ons-card>
				</ons-col>
			</ons-row>
		</v-ons-page>
	</template>

	<template id="especial">
		<v-ons-page>
			<v-ons-toolbar>
				<div class="left">
					<v-ons-toolbar-button onclick="_splitter.toggle();" class="color-nacionales">
						<v-ons-icon icon="ion-navicon, material:md-menu"></v-ons-icon>
					</v-ons-toolbar-button>
				</div>
				<div class="center">{{ $route.params.especial_name }}</div>
			</v-ons-toolbar>
			<v-ios-back-button></v-ios-back-button>

			<ons-row v-for="item in $route.params.especial_body">
				<ons-col width="100" v-if="item.type === 'img'" class="img-item">
					<img :src="item.src" alt="item.alt">
				</ons-col>
				<!--TIPO: IMAGEN-->

				<ons-col width="100" v-else-if="item.type === 'text'" class="text-item">
					<p class="text-justify">{{ item.body }}</p>
				</ons-col>
				<!--TIPO: TEXTO-->

				<ons-col width="100" v-else-if="item.type === 'embed'" class="embed-item margin-bottom-1em">
					<div v-html="item.html"></div>
				</ons-col>
				<!--TIPO: EMBED-->

				<ons-col width="100" v-else-if="item.type === 'newstag'" class="newstag-item margin-bottom-1em">
					<v-ons-carousel swipeable auto-scroll overscrollable :index.sync="item.index">
						<v-ons-carousel-item v-for="nota in item.news">
							<v-ons-card class="noticia-multimedia" @click="$router.push('/noticia/' + nota.id + '/null')">
								<img :src="nota.img | icdn([300,225,95,95])" :alt="nota.title" style="width: 100%">
								<div class="title">
									<v-title tag="h4" :color="'negro'" :metadata="nota.metadata" color-text="negro">{{ nota.title | html }}</v-title>
								</div>
							</v-ons-card>
						</v-ons-carousel-item>
					</v-ons-carousel>
					<div class="text-center" v-show="item.news.length > 0">
						<span :index="dotIndex - 1" v-for="dotIndex in Object.keys(item.news).length" :key="dotIndex" style="cursor: pointer" @click="item.index = dotIndex - 1">
							{{ item.index === dotIndex - 1 ? '\u25CF' : '\u25CB' }}
						</span>
					</div>
				</ons-col>
				<!--TIPO: TAG DE NOTICIAS-->

				<ons-col width="100" v-else-if="item.type === 'videosid'" class="videosid-item margin-bottom-1em">
					<v-ons-carousel fullscreen swipeable auto-scroll overscrollable :index.sync="item.index">
						<v-ons-carousel-item v-for="id in item.ids">
							<div class="video-container">
								<div class="embed-responsive embed-responsive-16by9">
									<iframe allowfullscreen webkitallowfullscreen mozallowfullscreen width="640" height="360" :src="'https://fast.player.liquidplatform.com/pApiv2/embed/528d5ddc400d6d180d22d067b8e427b5/' + id"
									 scrolling="no" frameborder="0" allow="geolocation; microphone; camera; encrypted-media; midi"></iframe>
								</div>
							</div>
						</v-ons-carousel-item>
					</v-ons-carousel>
					<div class="text-center" v-show="item.ids.length > 0">
						<span :index="dotIndex - 1" v-for="dotIndex in Object.keys(item.ids).length" :key="dotIndex" style="cursor: pointer" @click="item.index = dotIndex - 1">
							{{ item.index === dotIndex - 1 ? '\u25CF' : '\u25CB' }}
						</span>
					</div>
				</ons-col>
				<!--TIPO: IDS DE VIDEOS, VIDEOS UNICOS-->

				<ons-col width="100" v-else-if="item.type === 'videotag'" class="videotag-item  margin-bottom-1em">
					<v-ons-carousel fullscreen swipeable auto-scroll overscrollable :index.sync="item.index">
						<v-ons-carousel-item v-for="video in item.videos">
							<div class="video-container">
								<div class="embed-responsive embed-responsive-16by9">
									<iframe allowfullscreen webkitallowfullscreen mozallowfullscreen width="640" height="360" :src="'https://fast.player.liquidplatform.com/pApiv2/embed/528d5ddc400d6d180d22d067b8e427b5/' + video.id"
									 scrolling="no" frameborder="0" allow="geolocation; microphone; camera; encrypted-media; midi"></iframe>
								</div>
							</div>
						</v-ons-carousel-item>
					</v-ons-carousel>
					<div class="text-center" v-show="item.videos.length > 0">
						<span :index="dotIndex - 1" v-for="dotIndex in item.videos.length" :key="dotIndex" style="cursor: pointer" @click="item.index = dotIndex - 1">
							{{ item.index === dotIndex - 1 ? '\u25CF' : '\u25CB' }}
						</span>
					</div>
				</ons-col>
				<!--TIPO: TAG DE VIDEOS-->

				<ons-col width="100" v-else class="fallback-item">
					<div v-html="item.body"></div>
				</ons-col>
				<!--TIPO: FALLBACK-->
			</ons-row>
			<ons-row v-show="$route.params.especial_url !== null && $route.params.especial_url !== ''">
				<ons-col class="text-item">
					<p><b>Puede ver más información <a :href="$route.params.especial_url" target="_blank">aquí</a></b></p>
				</ons-col>
			</ons-row>
		</v-ons-page>
	</template>

	<template id="tema">
		<v-ons-page>
			<v-ons-toolbar>
				<div class="left">
					<v-ons-toolbar-button onclick="_splitter.toggle();" class="color-nacionales">
						<v-ons-icon icon="ion-navicon, material:md-menu"></v-ons-icon>
					</v-ons-toolbar-button>
				</div>
				<div class="center" style="{ textTransform: etiquetaNameUndefined }">{{ $route.params.etiqueta_name }}</div>
			</v-ons-toolbar>
			<v-ios-back-button></v-ios-back-button>

			<ons-row>
				<ons-col width="50" v-for="nota in noticias">
					<v-ons-card class="noticia-etiqueta" @click="$router.push('/noticia/' + nota.id + '/null')">
						<img :src="nota.img | icdn([150,100,50,95])" :alt="nota.title" style="width: 100%">
						<div class="title">
							<v-title tag="h4" color="negro" :metadata="nota.metadata" color-text="negro">{{ nota.title | html }}</v-title>
						</div>
					</v-ons-card>
				</ons-col>
			</ons-row>

			<ons-row>
				<ons-col class="text-center" width="100%" v-show="loading">
					<v-ons-icon size="2em" spin icon="fa-cog" class="color-negro"></v-ons-icon>
				</ons-col>
				<ons-col class="text-center" width="100%">
					<v-ons-button modifier="large" @click="viewMoreNews()" class="ver-mas-boton color-blanco fondo-negro">Ver más noticias</v-ons-button>
				</ons-col>
			</ons-row>
		</v-ons-page>
	</template>

	<template id="buscador">
		<v-ons-page>
			<v-ons-toolbar>
				<div class="left">
					<v-ons-toolbar-button onclick="_splitter.toggle();" class="color-nacionales">
						<v-ons-icon icon="ion-navicon, material:md-menu"></v-ons-icon>
					</v-ons-toolbar-button>
				</div>
				<div class="center">
					<img class="logo-toolbar" src="img/crhoy-logo.png" alt="CRHoy.com">
				</div>
			</v-ons-toolbar>
			<v-ios-back-button></v-ios-back-button>

			<ons-row>
				<ons-col>
					<v-ons-list>
						<v-ons-list-item>
							<div class="center">
								<v-ons-input placeholder="Buscar" float v-model="query" v-on:keyup.enter="buscar()"></v-ons-input>
							</div>
							<div class="right">
								<v-ons-button modifier="quiet" @click="buscar()">
									<v-ons-icon icon="fa-search"></v-ons-icon>
								</v-ons-button>
							</div>
						</v-ons-list-item>
						<v-ons-list-header v-show="times > 0 && results == 0">No se encontraron resultados</v-ons-list-header>
						<v-ons-list-header v-show="noticias.length > 0">Resultados: {{ results }}</v-ons-list-header>
						<v-ons-list-item v-for="nota in noticias" tappable @click="navToNews(nota.link)">
							<a :href="nota.link" @click.prevent.stop="navToNews(nota.link)">{{ nota.title }}</a>
							<p>{{ nota.snippet }}</p>
						</v-ons-list-item>
					</v-ons-list>
				</ons-col>
			</ons-row>
			<ons-row>
				<ons-col class="text-center" width="100%" v-show="loading">
					<v-ons-icon class="'color-negro" size="2em" spin icon="fa-cog"></v-ons-icon>
				</ons-col>
				<ons-col class="text-center" width="100%" v-show="results > 0">
					<v-ons-button modifier="large" @click="viewMoreNews()" class="ver-mas-boton fondo-negro">Ver más noticias</v-ons-button>
				</ons-col>
			</ons-row>
		</v-ons-page>
	</template>

	<template id="boletin">
		<v-ons-page>
			<v-ons-toolbar>
				<div class="left">
					<v-ons-toolbar-button onclick="_splitter.toggle();" class="color-nacionales">
						<v-ons-icon icon="ion-navicon, material:md-menu"></v-ons-icon>
					</v-ons-toolbar-button>
				</div>
				<div class="center">Boletín</div>
			</v-ons-toolbar>
			<v-ios-back-button></v-ios-back-button>

			<ons-row>
				<ons-col>
					<ons-list>
						<ons-list-header>Usted ya esta subscrito a nuestros boletines</ons-list-header>
						<v-ons-list-item v-for="sw in switchers">
							<div class="center">{{ sw.name }}</div>
							<div class="right">
								<v-ons-switch v-model="sw.check"></v-ons-switch>
							</div>
						</v-ons-list-item>
					</ons-list>
					<form>
						<v-ons-list>
							<v-ons-list-item>
								<v-ons-input placeholder="Email" type="email" float v-model="email" required></v-ons-input>
							</v-ons-list-item>
						</v-ons-list>
						<v-ons-button type="button" modifier="large" @click="subscribe()">Subscribirse</v-ons-button>
					</form>
				</ons-col>
			</ons-row>
		</v-ons-page>
	</template>

	<template id="autor">
		<v-ons-page>
			<v-ons-toolbar>
				<div class="left">
					<v-ons-toolbar-button onclick="_splitter.toggle();" class="color-nacionales">
						<v-ons-icon icon="ion-navicon, material:md-menu"></v-ons-icon>
					</v-ons-toolbar-button>
				</div>
				<div class="center">{{ $route.params.autor_name }}</div>
			</v-ons-toolbar>
			<v-ios-back-button></v-ios-back-button>

			<ons-row>
				<ons-col width="50" v-for="nota in noticias">
					<v-ons-card class="noticia-etiqueta" @click="$router.push('/noticia/' + nota.id + '/null')">
						<img :src="nota.img | icdn([150,100,50,95])" :alt="nota.title" style="width: 100%">
						<div class="title">
							<v-title tag="h4" color="negro" :metadata="nota.metadata" color-text="negro">{{ nota.title | html }}</v-title>
						</div>
						<div class="content">
							<p>{{ nota.date }}</p>
						</div>
					</v-ons-card>
				</ons-col>
			</ons-row>

			<ons-row>
				<ons-col class="text-center" width="100%" v-show="loading">
					<v-ons-icon size="2em" spin icon="fa-cog" class="color-negro"></v-ons-icon>
				</ons-col>
				<ons-col class="text-center" width="100%">
					<v-ons-button modifier="large" @click="viewMoreNews()" class="ver-mas-boton color-blanco fondo-negro">Ver más noticias</v-ons-button>
				</ons-col>
			</ons-row>
		</v-ons-page>
	</template>

      <template id="notificaciones">
		<v-ons-page>
			<v-ons-toolbar>
				<div class="left">
					<v-ons-toolbar-button onclick="_splitter.toggle();" class="color-nacionales">
						<v-ons-icon icon="ion-navicon, material:md-menu"></v-ons-icon>
					</v-ons-toolbar-button>
				</div>
				<div class="center">Notificaciones</div>
			</v-ons-toolbar>
			<v-ios-back-button></v-ios-back-button>

			<ons-row>
				<ons-col width="100">
                              <!--PONER AQUI LA LISTA DE TEMAS PARA LAS NOTIFICACIONES-->
                              <v-ons-list>
                                    <v-ons-list-header>Reciba las notificaciones de los siguientes temas:</v-ons-list-header>
                                    <v-ons-list-item v-for="item in notificationsList">
                                          <div class="center">{{ item.name }}</div>
                                          <div class="right">
                                                <v-ons-switch v-model="item.activate" @change="toogleNotificaction($event, item)"></v-ons-switch>
                                          </div>
                                    </v-ons-list-item>
                              </v-ons-list>
				</ons-col>
			</ons-row>
		</v-ons-page>
	</template>

	<template id="noticia">
		<v-ons-page id="contenido-noticia">
			<v-ons-toolbar :class="'fondo-' +  nota.categories[0].cat_color">
				<div class="left">
					<v-ons-toolbar-button onclick="_splitter.toggle();" class="color-blanco">
						<v-ons-icon icon="ion-navicon, material:md-menu"></v-ons-icon>
					</v-ons-toolbar-button>
				</div>
				<div class="center">
					<img class="logo-toolbar" src="img/crhoy-logo-blanco.png" alt="CRHoy.com">
				</div>
                        <div class="right">
                              <v-ons-toolbar-button @click="comentarioVisible = true;" class="color-blanco">
                                    <ons-icon icon="fa-comments"></ons-icon>
                              </v-ons-toolbar-button>
                        </div>
			</v-ons-toolbar>
			<v-ios-back-button></v-ios-back-button>

			<ons-row>
				<ons-col>
					<div class="card">
						<div id="fb-root"></div>

						<p class='text-center' v-show="loading">
							<v-ons-icon size='2em' spin icon='fa-cog' class='color-negro'></v-ons-icon>
						</p>
						<!--LOADING-->
						<div class="img-pre-loading">
							<img v-if="nota.img !== ''" :src="nota.img | icdn([315, 200, 95, 95])" :alt="nota.title" style="width: 100%;">
						</div>
						<h6 class="no-margin pre-title">{{ nota.pretitle.trim() }}</h6>
						<h1 class="card__title no-margin-bottom">{{ nota.title }}</h1>
						<p class="no-margin-bottom author" @click="navToAuthor(nota.author)">
							Por: <span :class="'notification notification-author fondo-' +  nota.categories[0].cat_color"><small>{{ nota.author.autor_name }}</small></span>
							<small>{{ nota.date }} {{ nota.hour }}</small>
						</p>
						<ul class="list list--noborder margin-bottom-1em" v-if="nota.subtitle1 !== '' || nota.subtitle2 !== ''">
							<li class="list-item" v-show="nota.subtitle1 !== ''">
								<div class="list-item__center">{{ nota.subtitle1 }}</div>
							</li>
							<li class="list-item" v-show="nota.subtitle2 !== ''">
								<div class="list-item__center">{{ nota.subtitle2 }}</div>
							</li>
						</ul>

                                    <div id="nota_fallback">
						      <content-component id="content-component" v-if="nota.content !== '' " :content="nota.content" :scripts="nota.scripts"></content-component>
                                    </div>

						<p class="text-left etiquetas" v-show="nota.tags.length > 0">
							<b>Etiquetas: </b><br>
							<span :class="'notification notification-tag fondo-' +  nota.categories[0].cat_color" v-for="tag in nota.tags" @click="navToTag(tag)">{{ tag.etiqueta_name }}</span>
						</p>

                                    <v-ons-modal :visible="comentarioVisible" @click="comentarioVisible = false;">
                                          <div class="comments-single-container">
                                                <div class="card comentarios-single">
                                                      <ul class="list comentarios">
                                                            <li class="list-header">Dejanos tu comentario</li>
                                                            <form class="frm-comentarios">
                                                                  <v-ons-input id="comentario-nombre" placeholder="Nombre" type="text" v-model="comentario.nombre" required></v-ons-input>
                                                                  <br>
                                                                  <v-ons-input id="comentario-correo" placeholder="Correo" type="email" v-model="comentario.correo" required></v-ons-input>
                                                                  <br>
                                                                  <textarea id="comentario-comentario" class="comentario-comentario" v-model="comentario.comentario" placeholder="Comentario"
                                                                  required></textarea>
                                                                  <br>
                                                                  <p class="text-center" v-show="comentario.loading">
                                                                        <v-ons-icon class="comentario-loading" size="2em" spin icon="fa-cog" :class="'color-' + nota.categories[0].cat_color"></v-ons-icon>
                                                                  </p>
                                                                  <v-ons-button class="comentario-boton" modifier="large" type="button" @click="saveComment()" :disabled="comentario.loading || loading">Enviar</v-ons-button>
                                                            </form>
                                                            <li class="list-header">Comentarios <span class="notification">{{ nota.comments.length }}</span></li>
                                                            <li class="list-item" v-for="comment in nota.comments">
                                                                  <div class="list-item__center">
                                                                        <div class="list-item__title">{{ comment.comment_author }} <small>{{ comment.comment_date }}</small></div>
                                                                        <div class="list-item__subtitle">{{ comment.comment_content }}</div>
                                                                  </div>
                                                            </li>
                                                      </ul>
                                                      <div class="facebook" v-if="nota.permalink !==''">
                                                            <div class="fb-comments" :data-href="nota.permalink" data-width="100%" data-numposts="5" data-mobile="true"></div>
                                                            <!--COMENTARIOS-->
                                                      </div>
                                                </div>
                                          </div>
                                    </v-ons-modal>
					</div>
				</ons-col>
			</ons-row>

			<v-ons-speed-dial position="bottom right" direction="up">
				<v-ons-fab :class="'fondo-' +  nota.categories[0].cat_color">
					<v-ons-icon icon="fa-share-alt" class="color-blanco"></v-ons-icon>
				</v-ons-fab>

				<v-ons-speed-dial-item v-for="item in shareItems" :class="'fondo-' +  nota.categories[0].cat_color" @click="share(item.slug)"
				 :title="'Compartir con' + item.name">
					<v-ons-icon :icon="item.icon" class="color-blanco"></v-ons-icon>
				</v-ons-speed-dial-item>
			</v-ons-speed-dial>
		</v-ons-page>
	</template>

	<template id="indefinido">
		<v-ons-page>
			<v-ons-toolbar class="fondo-nacionales">
				<div class="left">
					<v-ons-toolbar-button onclick="_splitter.toggle();" class="color-blanco">
						<v-ons-icon icon="ion-navicon, material:md-menu"></v-ons-icon>
					</v-ons-toolbar-button>
				</div>
				<div class="center">
					<img class="logo-toolbar" src="img/crhoy-logo-blanco.png" alt="CRHoy.com">
				</div>
			</v-ons-toolbar>
			<v-ios-back-button></v-ios-back-button>

			<ons-row>
				<ons-col>
					<div class="card">
						<h5 class="text-center">Página no encontrada</h5>
					</div>
				</ons-col>
			</ons-row>
		</v-ons-page>
	</template>

	<div id="app">
		<v-ons-splitter>
			<v-ons-splitter-side swipeable id="_splitter" width="50%" collapse="" side="left" collapse="portrait" open-threshold="0.9"
			 :open.sync="openSide">
				<v-ons-page>
					<v-ons-toolbar class="fondo-nacionales">
						<div class="center color-blanco">Menú</div>
					</v-ons-toolbar>
					<v-ons-list>
						<v-ons-list-item v-for="page in pages" tappable modifier="chevron" @click="$router.push(page.route); openSide = false;">
							<div class="center">{{ page.title }}</div>
						</v-ons-list-item>
						<v-ons-list-item tappable modifier="chevron" @click="navToSearch();">
							<div class="center">Buscador</div>
						</v-ons-list-item>
						<v-ons-list-header>Categorías</v-ons-list-header>
						<v-ons-list-item v-for="cat in categories" tappable modifier="chevron" v-on:click="navToCategory(cat)">
							<div class="center">{{ cat.cat_title }}</div>
						</v-ons-list-item>
						<v-ons-list-header>Nuestras redes</v-ons-list-header>
						<v-ons-list-item class="nav-to-socials" v-for="sn in socialNetworks" tappable modifier="chevron">
							<div class="center">
								<a :href="sn.socialNetwork_url" target="_blank">
									<ons-icon :icon="sn.socialNetwork_icon"></ons-icon> {{ sn.socialNetwork_name }}
								</a>
							</div>
						</v-ons-list-item>
					</v-ons-list>
				</v-ons-page>
			</v-ons-splitter-side>

			<v-ons-splitter-content>
				<router-view></router-view>
			</v-ons-splitter-content>
		</v-ons-splitter>
	</div>

	<!--LOADER DE CORDOVA-->
	<script type="text/javascript" src="components/loader.js"></script>
	<!--PLUGINS-->
	<script type="text/javascript" src="js/SocialSharing.js"></script>
	<script type="text/javascript" src="js/firebase.js"></script>
	<!--LIBS-->
	<script type="text/javascript" src="libs/vue.min.js"></script>
	<script type="text/javascript" src="libs/vue-resource.min.js"></script>
	<script type="text/javascript" src="libs/vue-router.min.js"></script>
	<script type="text/javascript" src="libs/vuejs-datepicker.min.js"></script>
	<script type="text/javascript" src="libs/onsenUI/js/onsenui.min.js"></script>
	<script type="text/javascript" src="libs/vue-onsenui.min.js"></script>

	<!--DECLARACIONES ESTATICAS-->
	<script type="text/javascript" src="js/config/categories.static.js"></script>
	<script type="text/javascript" src="js/config/socialNetwork.static.js"></script>
	<script type="text/javascript" src="js/config/es-language-calendar.static.js"></script>
      <script type="text/javascript" src="js/config/firebase.config.js"></script>

	<!--FILTROS-->
	<script type="text/javascript" src="js/filters/html.filter.js"></script>
	<script type="text/javascript" src="js/filters/icdn.filter.js"></script>

	<!--SERVICIOS-->
	<script type="text/javascript" src="js/services/home.service.js"></script>
	<script type="text/javascript" src="js/services/ultimas.service.js"></script>
	<script type="text/javascript" src="js/services/masLeidas.service.js"></script>
	<script type="text/javascript" src="js/services/categorias.service.js"></script>
	<script type="text/javascript" src="js/services/etiqueta.service.js"></script>
	<script type="text/javascript" src="js/services/especiales.service.js"></script>
	<script type="text/javascript" src="js/services/samba.service.js"></script>
	<script type="text/javascript" src="js/services/buscador.service.js"></script>
	<script type="text/javascript" src="js/services/boletin.service.js"></script>
	<script type="text/javascript" src="js/services/autor.service.js"></script>
	<script type="text/javascript" src="js/services/noticia.service.js"></script>
	<script type="text/javascript" src="js/services/comentarios.service.js"></script>

	<!--DIRECTIVAS-->
	<script type="text/javascript" src="js/directives/title.directive.js"></script>
	<script type="text/javascript" src="js/directives/iosBackButton.directive.js"></script>
	<script type="text/javascript" src="js/directives/tabset.directive.js"></script>
	<script type="text/javascript" src="js/directives/accordion.directive.js"></script>

	<!--COMPONENTES-->
	<script type="text/javascript" src="js/components/home.component.js"></script>
	<script type="text/javascript" src="js/components/ultimas.component.js"></script>
	<script type="text/javascript" src="js/components/masLeidas.component.js"></script>
	<script type="text/javascript" src="js/components/category.component.js"></script>
	<script type="text/javascript" src="js/components/especiales.component.js"></script>
	<script type="text/javascript" src="js/components/especial.component.js"></script>
	<script type="text/javascript" src="js/components/tema.component.js"></script>
	<script type="text/javascript" src="js/components/buscador.component.js"></script>
	<script type="text/javascript" src="js/components/boletin.component.js"></script>
      <script type="text/javascript" src="js/components/notificaciones.component.js"></script>
	<script type="text/javascript" src="js/components/autor.component.js"></script>
	<script type="text/javascript" src="js/components/noticia.component.js"></script>

	<!--ROUTER-->
	<script type="text/javascript" src="js/config/routes.router.js"></script>

	<!--COMPONENTE INICIAL-->
	<script type="text/javascript" src="js/components/app.component.js"></script>
</body>
</html>